header{
    font-family: 'Gloock', serif;
    font-size: 40px;
    text-align: center;
}
.aboutimg{
    font-family: 'Gloock', serif;
    font-size: 15px;
    text-align: center;
    color: dimgrey;
    
}

.imgclass{
   padding-left: 400px;
}

.text{
    padding-left: 400px;
    width: 50vw;
    line-height: 40px;
    color: rgb(151, 151, 151);
}

.text2{
    font-weight: bold;
    text-align: center;
    color:dimgray
}